/* Etablissement des fonts*/

@font-face {
  font-family: 'work_sans';
  src: url("/fonts/webfontkit-20210120-113730/worksans-regular-webfont.woff2") format('woff2'),
       url("/fonts/webfontkit-20210120-113730/worksans-regular-webfont.woff") format('woff'),
       url("/fonts/webfontkit-20210120-113730/worksans-regular-webfont.ttf") format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'work_sans';
  src: url("/fonts/webfontkit-20210120-113730/worksans-medium-webfont.woff2") format('woff2'),
       url("/fonts/webfontkit-20210120-113730/worksans-medium-webfont.woff") format('woff'),
       url("/fonts/webfontkit-20210120-113730/worksans-medium-webfont.ttf") format('truetype');
  font-display: swap;
  font-weight: 500;
}

@font-face {
  font-family: 'work_sans';
  src: url("/fonts/webfontkit-20210120-113730/worksans-italic-webfont.woff2") format('woff2'),
       url("/fonts/webfontkit-20210120-113730/worksans-italic-webfont.woff") format('woff'),
       url("/fonts/webfontkit-20210120-113730/worksans-italic-webfont.ttf") format('truetype');
  font-display: swap;
  font-style: italic;

}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "work_sans";
}


/*-------------------Retirer la croix des inputs search----------------*/

/* clears the ‘X’ from Internet Explorer */
input[type=search]::-ms-clear { display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal { display: none; width : 0; height: 0; }
/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

/*----------------Menu Burger------------------------*/
.main-nav {
  display: flex;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  color: #613CEA;
  background: #FFFFFF;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
-moz-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
-webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
}
.logo {
  margin-left: 30px;
}
.nav-links {
  display: flex;
  width: 50%;
  justify-content: space-around;
}
.burger {
  display: none;
  padding: 4px 6px;
  cursor: pointer;
  margin-right: 30px;
  background-color: #FFBE00;
  border-radius: 8px;
}
.line {
  height: 3px;
  width: 25px;
  margin: 4px 0;
  background: white;
  transition: transform 0.75s ease, opacity 0.75s ease;
}

.main-nav.show .line1 {
  transform: translate(-10px) rotate(45deg) translate(15px);
}
.main-nav.show .line2 {
  opacity: 0;
}
.main-nav.show .line3 {
  transform: translate(-10px) rotate(-45deg) translate(15px);
}
.main-nav.show .nav-links {
  transform: translateX(0%);
}

.nav_button_howitwork {
color: #613CEA;
}

.nav_button_connect {
  font-size: 16px;
  text-align: center;
  padding: 10px 20px;
  width: 100%;
  margin: auto;
  font-weight: 500;
  border: solid 2px #4E00E9;
  border-radius: 8px;
  color: #4E00E9;
  background-color: none
}

.nav_button_sale {
  font-size: 16px;
  text-align: center;
  margin: 1rem 0rem;
  padding: 10px 20px;
  font-weight: 500;
  border: none;
  border-radius: 8px;
  color: white;
  background-color: #FFBE00;
}



@media screen and (max-width: 800px) {
  .nav-links {
    width: 60%;
  }
}

@media screen and (max-width: 600px) {
  .burger {
    display: block;
  }
  .nav-links {
    position: fixed;
    top: 60px;
    right: 0;
    height: 92vh;
    width: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background: #FFFFFF;
    transform: translateX(100%);
    transition: transform 1s ease;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
  }



}

/*----------------------------Fin burger menu------------------------*/

/*--------------------- Adding Icons----------------------*/
.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  color: #FFBE00;
}
.icon-star {
  width: 0.9287109375em;
}

.icon-shield {
  width: 0.60em;
  margin-left: 3px;
}

.icon-group {
  width: 0.8em;
  margin-left: 3px;
}

.icon-long-arrow-right {
  width: 0.9638671875em;
  color:#38454C
}

.icon-arrow-down {
  width: 0.9287109375em;
  color: white;
}

.icon-heart-o {
  color: #613CEA;
  width: 0.9em;
}

.icon-clock2 {
  width: 0.9em;
}

nav .icon {
  width: 20px;
  height: 20px;
  color: #613CEA;
}

/*--------------------- End Adding Icons----------------------*/

h1 {
  color: #38454C;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  margin: 20px 0px;
}

/*------------------SECTION - Formulaire----------------------*/

.formulaire {
  margin-top: 30px;
  padding: 20px 20px;
  background-color: #FFE8A6;
}



label {
  font-size: 16px;
  font-weight: 500;
  color: #38454C;
}

input {
  padding: 10px 5px;
  border: solid #E6E6E6 1px;
  border-radius: 8px;
  width: 100%;

}

.depart input {
  padding: 15px 5px;
}

.arrive input {
  padding: 15px 5px;
}

input[type="date"] {
  font-size: 14px;
  color: #777575;
  text-transform: uppercase;
  font-family: "work_sans",arial;
}

input:focus {
  outline: none;
}

input::placeholder {
  font-size: 14px;
}

.depart {
  display: flex;
  flex-direction: column;
  margin: 10px 0px;
}

.arrive {
  display: flex;
  flex-direction: column;
  margin: 10px 0px;
}

.aller-retour {
  display: flex;
  flex-direction: row;
  margin: 10px 0px;
  align-items: stretch;
}

.aller {
  display: flex;
  flex-direction: column;
  width: 47%;
  margin-right: 2.5%;

}

.retour {
  display: flex;
  flex-direction: column;
  width: 100%;
  width: 47%;
  margin-left: 2.5%;
}

.checkbox {
  display: flex;
}

.nerby_station, .alert {

  border: solid #E6E6E6 1px;
  border-radius: 0px;
  width: 10%;

}

button {
  font-size: 16px;
  padding: 10px 5px;
  width: 100%;
  font-weight: 500;
  margin: 1rem 0rem;
  border: none;
  border-radius: 8px;
  color: white;
  background-color: #4E00E9;

}

button:focus {
  outline: none;
}

h2 {
  color: #38454C;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  margin: 50px 0px;

}

.button_sale, .button_search{
  display: block;
  font-size: 16px;
  text-align: center;
  margin: 1rem 0rem;
  padding: 10px 5px;
  width: 100%;
  font-weight: 500;
  border: none;
  border-radius: 8px;
  color: white;
  background-color: #FFBE00;
}

/*-------------------------3 SECTIONS suggestions de billets-------------------------*/

.suggestions1, .suggestions2, .suggestions3 {
  margin-top: 20px;
}

h3 {
  color: #4E00E9;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  
}

.titre_suggestion {
  margin: 10px 20px;
  text-align: start;
}

/*Création du template d'une annonce d'un billet en ligne */

.ticket {
  display: flex;
  flex-direction: column;
  background-color: #F9F9F9;
  margin-right: 20px;
  width: 250px;
  height: 270px;
  box-shadow: 0px 3px 5px 0px rgba(16, 42, 67, 0.1);
-moz-box-shadow: 0px 3px 5px 0px rgba(16, 42, 67, 0.1);
-webkit-box-shadow: 0px 3px 5px 0px rgba(16, 42, 67, 0.1);
}

strong {
  font-weight: 500;
}

.img_ticket {
  width: 100%;
  height: 150px;
}

.description {
  padding: 20px 20px;
}

h4 {
  color: #38454C;
  font-size: 14px;
  font-weight: 500;
}

p, blockquote {
  color: #38454C;
  font-size: 14px;
}

blockquote {
  font-style: italic;
}

time {
  color: #38454C;
  font-size: 14px;
  display: block;
}

.route {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  width: 100%;
}

.icon_route {
  width: auto;
  height: auto;
  margin: 0% 2%;
}

.hours {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.city {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bottom_description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}

/*Creation du slider*/

.slider {
  border: none;
  width: 100%;
  height: 270px;
  margin-bottom: 20px;
  overflow-y: hidden;
  overflow-x: scroll;

}

.slider2 {
  border: none;
  width: 100%;
  height: 88px;
  margin-bottom: 20px;
  overflow-y: hidden;
  overflow-x: scroll;

}



.slides {
  display: flex;
  width: 300vw;
  transition: transform 0.3s;
}

.slides2 {
  display: flex;
  width: 200vw;
  transition: transform 0.3s;
}




/*Bouton dernier billets mis en ligne*/


.button_last_ticket, .button_discount, .button_popular_route, .see_opinion {
  display: block;
  font-size: 16px;
  text-align: center;
  padding: 10px 5px;
  width: 90%;
  margin: auto;
  font-weight: 500;
  border: solid 3px #4E00E9;
  border-radius: 8px;
  color: #4E00E9;
  background-color: none

}

.popular_route_ticket {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 150px;
  height: 90px;
  margin-right: 20px;
  padding: 15px 15px 15px 15px;
  color: white;
  background-color: #4E00E9;
  border-radius: 10px;
}

/*-------------------------SECTION - How to use ?-------------------------*/

.how_to_use {
  background-color:#FFE8A6;
  padding: 5px 20px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.img {
  height: 150px;
  width: 150px;
  margin: 10px;
}

.explanation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text_explanation, blockquote {
  text-align: center;
}

h3 {
  margin: 5px;
}

.button_search {
  background-color: #4E00E9;
}

/*-------------------------SECTION - Insurance ?-------------------------*/

.insurance {
  padding: 20px 20px;
}

.insurance_and_img1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.insurance_and_img2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.insurance, .control, .opinion{
 display: flex;
 flex-direction: column;
 align-items: center;
}

.title_insurance {
  margin-top: 10px;
  margin-bottom: 10px;
}

.img2 {
  height: 150px;
  width: 150px;
  margin: 20px;
}

.people_opinion {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.profil_pic {
  width: 60px;
  height: 56px
}

.profil {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px 10px;
}

.note {
  display: flex;
  align-items:center;
}

.icon_star {
  margin: -10px;
}

.see_opinion {
  margin: 20px 0px 20px 0px;
}

/*-------------------------FOOTER-------------------------*/

footer {
  background-color: #4E00E9;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer_bloc {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer p, footer a, footer li {
  font-size: 12px;
  color: white;
}

footer p {
  text-align: center;
  margin: 5px;
}

footer article {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

h5 {
  font-size: 12px;
  font-weight: 400;
  color: white;
}

.payment {
  display: flex;
  flex-direction: row;
}

.payment .img {
  width: 69px;
  height: 35px;
}



.social_media {
  width: 100%;
}

.social_media_icon {
  display:flex;
  flex-direction: row;
  width: 60%;
  justify-content: space-evenly;
}

.social_media .icon {
  color: white;
  width: 35px;
  height: 35px;

}


.icon-twitter {
  width: 0.9287109375em;
}

.icon-instagram {
  width: 0.857421875em;
}

.icon-facebook-square {
  width: 0.857421875em;
}

.newsletter_mail {
  position: relative;
  width: 90%;
}

footer input {
  width: 100%;
  height: 37px;
  padding: 10px 5px;
  border: solid #E6E6E6 1px;
  border-radius: 8px;
}

footer button {
  position: absolute;
  width: 37px;
  height: 37px;
  background-color: #FFBE00;
  bottom: -16px;
  right: 0px;
  border-radius: 0px 8px 8px 0px;
}

hr {
  width: 50%;
}


/*----------------------- DESKTOP VERSION -------------------------*/

@media (min-width: 877px) {

  /*Réarrangement FORMULAIRE */

  .formulaire {
    padding: 30px 50px;
    height: 110vh;

  }

  h1 {
    font-size: 40px;
    line-height: 60px;

  }

  h2 {
    font-size: 30px;
  }

  .formulaire2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 70px;
    height: 40%;
  }

  .depart-arrive {
    height: 70px;
    margin-top: 10px;
  }

  .aller-retour {
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
    justify-content: space-between;
    width: 20%;
    height: 70px
  }
  
  .aller {
    width: 100%;
    margin-right: 0%
  }
  
  .retour {
    width: 100%;
    margin-left: 0%;
  }

  .checkbox_button {
    margin-top: 30px;
    width: 30%;
  }
  
  .aller, .retour,.checkbox, .button {
    margin: 10px;
  }

  .button_sale {
    width: 30%;
    margin: auto;
  }

  /*Réarrangement SUGGESTIONS BILLETS */

  .suggestions1, .suggestions2, .suggestions3 {
    margin: 50px 120px;
  }

  .slider {
    overflow-y: unset;
    overflow-x: unset;
  
  }
  
  .slider2 {
    overflow-y: unset;
    overflow-x: unset;
  
  }

  .slides {
    width: unset;
  }

  .slides2 {
    width: unset;
  }

  .ticket {
    margin-right: 50px;
  }

  .button_last_ticket, .button_discount, .button_popular_route {
    width: 30%;
  
  }

  .popular_route_ticket {
    width: 250px;
  }

  /*Réarrangement HOW TO USE */

  .how_to_use {
    height: 160vh;
  }
  
  .img {
    width: 200px;
    height: 200px;
  }

  .sale_explanation, .buy_explanation{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 20px 0px 20px 0px;
  }

  .explanation {
    width: 30%;
  }

  .button_search {
    width: 30%;
    margin: auto;
  }

    /*Réarrangement INSURANCE */

    .insurance {
      margin: 0px 120px 30px 120px;
    }

    .insurance_and_img1 {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-around;
    }

    .insurance_and_img2 {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }

    .title_insurance {
      margin-top: 40px;
    }

    .img2 {
      width: 350px;
      height: 450px;

    }

    .insurance, .control, .opinion{
      align-items: flex-start;
     }

    .control {
      width: 40%;
      margin: 0px 70px 0px 70px;

    }

    .opinion {
      width: 40%;
      margin: 0px 70px 0px 70px;
    }

    .text_explanation, blockquote {
      line-height: 24px
    }

    .insurance p {
      text-align: start;
    }

    .insurance blockquote {
      text-align: start;
    }

      /*Réarrangement FOOTER */

    .footer_bloc {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

    }

    footer article {
      width: 100%;
    }



}